body {
    background-color: rgb(26, 48, 78);
}

div.main-field {
    position: absolute;
    top: 10vmax;
    right: 10vmax;
    bottom: 10vmax;
    left: 15vmax;
    width: 75vmax;
    padding: 20px;
    background-color:whitesmoke;
    border: 2px;
    box-sizing: border-box;
}

div.nav {
    float: left;
    width: 10vmax;
    padding: 10px;
    position: fixed;
    background-color: whitesmoke;
}