body {
    background-color: rgb(26, 48, 78);
    z-index: 1;
}

section.main-field {
    position: absolute;
    top: 20px;
    left: 180px;
    width: 75vmax;
    background-color:whitesmoke;
    box-sizing: border-box;
    z-index: 2;
}

div.nav {
    box-sizing: border-box;
    width: 130px;
    padding: 20px;
    position: fixed;
    top: 20px;
    left: 30;
    background-color: whitesmoke;
    z-index: 3;
}

h1, h2 {
    text-align: center;
}

p.img {
    text-align: center;
    padding: 15px;
}

p {
    padding: 20px;
}
